/* Estilo general del fondo */
.root {
    -fx-background-color: white;
}

/* Estilo de los botones */
.button {
    -fx-background-color: #9a4cce;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: #7b3b9e; /* Color más oscuro al pasar el ratón */
}

/* Estilo del TextField (campo de búsqueda) */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #9a4cce;
    -fx-border-width: 2;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 5;
}

/* Estilo de la tabla */
.table-view {
    -fx-border-color: #9a4cce;
    -fx-border-width: 2;
    -fx-background-color: white;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: black;
}

.table-cell {
    -fx-text-fill: black;
}

/* Estilo del hipervínculo */
.hyperlink {
    -fx-text-fill: #9a4cce;
    -fx-font-size: 16px;
    -fx-text-alignment: right;
}

.hyperlink:hover {
    -fx-text-fill: #7b3b9e;
    -fx-underline: true;
}

/* Estilo de HBox y VBox */
.hbox, .vbox {
    -fx-spacing: 10;
}
